
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link type="text/css" href="/guis.common/bootstrap/css/bootstrap.min.css" rel="Stylesheet">
    <link type="text/css" href="/guis.common/bootstrap/css/bootstrap-responsive.min.css" rel="Stylesheet">

  </head>

  <body>
  
      <form id="logOut_form" action="/logout" method="get"></form>
	  <div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container-fluid">
	        <ul id="global-nav" class="nav pull-left"><a href="#" class="brand">Welcome {{everyauth.user.username}}</a></ul>
	        <button id="btn-logout" class="btn btn-primary" type="submit" form="logOut_form"><i class="icon-lock icon-white"></i>Sign Out</button>
	      </div>
	    </div>
	  </div>

    <div class="container">

    	{{{body}}}

    </div> <!-- /container -->

  </body>
</html>
