/*
 * Right manager sidebar
 */

#rm_roles .rmSidebarRole,
#rm_users .rmSidebarUser {
  padding: 3px 5px; 
  margin-right: 6px;
  cursor: pointer;
  display: block;
  position: relative;
}

#rm_roles .rmSidebarRole {
  margin-right: 0;
}

#rm_users .rmSidebarUser {
  width: 70px;
  float: left;
  display: inline-block;
  overflow: hidden;
}

#rm_usersPage {
  /*background-color: #D2D9FC;*/
}
#rm_rightsPage {
  /*background-color: #D2D9FC;*/
}
#rm_rightsHead{
  /*background-color: #D2D9FC;*/
}
#rm_usersHead{
  /*background-color: #D2D9FC;*/
}

#rm_roles .rmSidebarRole:hover,
#rm_users .rmSidebarUser:hover { 
  background-color: #a6c0f7;
}

#rm_roles .rmSidebarRole.checked,
#rm_users .rmSidebarUser.checked {
  background-color: #A4B5FF;
}

#rm_roles .rmSidebarRole img,
#rm_users .rmSidebarUser img {
  margin: 0 2px -4px 6px;
  position: absolute;
  right: 0;
  visibility: hidden;
}

#rm_rights {

}

#rm_rights label {
  margin-top: 1px;
  display: inline-block;
  width: 90%;
  vertical-align: top;
}

#rm_rights input[type="checkbox"] {
  vertical-align: top;
}

#rmDeleteUsersButton {
  visibility: hidden;
}

#rm_rightsHead span,
#rm_usersHead span {
  margin-left: 8px;
  font-size: 8px;
  font-style: italic;
  color: gray;
}

.block {
  display: block !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.rmRoleSeparator {
  background-color: black;
  height: 2px;
  width: 100%;
}

#rmdTabAdd {
  cursor: pointer !important;
}

.newTabTextfield {
  /*padding: 0.3em 1em !important;*/
}

.newTabTextfield input {
  margin: -2px 0 -3px 0;
  font-size: 10px;
}

.rightmanager-section {
  margin-bottom: 15px;
}

.rightmanager-section .ui-autocomplete-input {
  margin-bottom: 6px;
}

.rmdbutton {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#f9f9f9;
  -webkit-border-top-left-radius:8px;
  -moz-border-radius-topleft:8px;
  border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -moz-border-radius-topright:8px;
  border-top-right-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -moz-border-radius-bottomright:8px;
  border-bottom-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -moz-border-radius-bottomleft:8px;
  border-bottom-left-radius:8px;
  text-indent:0;
  border:2px solid #dcdcdc;
  display:inline-block;
  color:#666666;
  font-family:Arial;
  font-size:12px;
  font-weight:bold;
  font-style:normal;
  height:33px;
  line-height:33px;
  width:80px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}

.rmdbutton:hover {
  background-color:#e9e9e9;
}

.rmdbutton:active {
  position:relative;
  top:1px;
}



#tabContainer {
  width:500px;
  padding:15px;
  background: #D3D3D3;
  -moz-border-radius: 4px;
  border-radius: 4px; 
}

.tabs{
  height:30px;
}

.tabs > ul{
  font-size: 1em;
  list-style:none;
}

.tabs > ul > li{
  margin:0 2px 0 0;
  padding:7px 10px;
  display:block;
  float:left;
  color:#FFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius:4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; 
  background: #C9C9C9; /* old browsers */
  background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
}

.tabs > ul > li:hover{
  background: #FFFFFF; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
  cursor:pointer;
  color: #333;
}

.tabs > ul > li.tabActiveHeader{
  background: #FFFFFF; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
  cursor:pointer;
  color: #333;
}

.tabscontent {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; 
  padding:10px 10px 25px;
  background: #FFFFFF; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed)); /* webkit */
  margin:0;
  color:#333;
}


.rmd_users:hover { 
  background-color: #a6c0f7;
}

.rmd_users.checked {
  background-color: #A4B5FF;
}

.rmd_users  img {
  margin: 0 0 -4px 6px;
  float: right;
  visibility: hidden;
}

.rmd_users{
  padding: 3px 5px; 
  margin-right: 6px;
  cursor: pointer;
  float: left;
  display: inline-block;
}
