/*
 * Right manager sidebar
 */

.block {
    display: block;
}

#rm_users .rmSidebarUser {
    float: left;
    padding: 3px 5px; 
    margin-right: 6px;
    cursor: pointer;
    display: inline-block;
}

#rm_users .rmSidebarUser:hover { 
    background-color: #a6c0f7;
}

#rm_users .rmSidebarUser.checked {
    background-color: blueviolet;
}

#rm_users .rmSidebarUser img {
    margin: 0 0 -4px 6px;
}
