/*
 * Right manager sidebar
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

h1,
h2,
h3 {
  line-height: 20px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

h1 small {
  font-size: 24.5px;
}

h2 small {
  font-size: 17.5px;
}

h3 small {
  font-size: 14px;
}

h4 small {
  font-size: 14px;
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.capitalize {
  text-transform: capitalize;
}

.cursor-pointer {
  cursor: pointer;
}

.display-block {
  display: block !important;
}

.display-inline-block {
  display: inline-block !important;
}

.width-100 {
  width: 100%;
}

#rightmanager .jDesktopInspector_pageHead span {
  display: inline-block;
  height: 17px;
  vertical-align: bottom;
  margin-right: 5px;
}

#rightmanager .jDesktopInspector_pageHead .btn,
#rightmanager .jDesktopInspector_section_title .btn,
#rightmanager .jDesktopInspector_element .btn {
  float: right;
}

#rightmanager .jDesktopInspector_section_title {
  font-style: italic;
  color: #5A5A5A;
  text-shadow: 1px 1px 1px #FFF;
  border-bottom: 1px solid rgba(58, 58, 58, 0.1);
  display: block;
}

#rightmanager .jDesktopInspector_element {
  margin-left: 10px;
}

#rightmanager .jDesktopInspector_pageHead .btn-remove-role,
#rightmanager .jDesktopInspector_element .btn {
  display: none;
}

#rightmanager .jDesktopInspector_pageHead:hover .btn-remove-role,
#rightmanager .jDesktopInspector_element:hover .btn {
  display: inline;
}

#rightmanager .btn {
  padding: 2px;
  margin: 1px;
  vertical-align: top;
}

#rightmanager .jDesktopInspector .btn {
  padding: 1px;
  margin: 0;
}

#rightmanager .btn-new-role {
  margin-right: 12px;
  vertical-align: top;
  display: none;
}

#rightmanager .btn-save-role,
#rightmanager .btn-cancel {
  display: none;
}

#rightmanager input.ui-textfield {
  margin: 0;
}

#rightmanager .new-role-textfield {
  display: none;
  width: 142px;
}

#rightmanager .jDesktopInspector_pageHead {
  cursor: pointer;
}

#rightmanager .jDesktopInspector_page {
  display: none;
}

#rightmanager .jDesktopInspector_pageHead:first-child + .jDesktopInspector_page {
  display: block;
}

#rightmanager .rightmanager-bottom {
  width: 210px;
  white-space: nowrap;
}

#rightmanager .object-area {
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.8em;
}

#rightmanager .object-area:first-child {
  font-style: italic;
}

#rightmanager .object-area:last-child  {
  font-style: italic;
}

.rightmanagerMessageBox {
  margin: 10px 0;
  padding: 5px 10px 5px 35px;
  display: none;
  white-space: normal;
  border-radius: 4px;
}

.rightmanagerMessageBox.blank {
  padding-left: 10px;
}

.rightmanagerMessageBox.error {
  border: 1px solid #C4252A;
  background: url("/guis.common/images/error.png") no-repeat 5px 4px;
  background-color: #EE3636;
  color: #FFFFFF;
}

.rightmanagerMessageBox.warning {
  border: 1px solid #DF7B30;
  background: url("/guis.common/images/warning.png") no-repeat 5px 4px;
  background-color: #FDA833;
  color: #FFFFFF;
}