/*
This css file is added to the header of the html document within the iframe.
  
Created on : 19.06.2014, 23:16:22
Author     : Patrick
*/

body {
  
}

body > div {
  margin: 0 auto !important;
}

body.twopage > div {
  /*float: left;*/
  /*transform: scale(0.5);*/
  /*-webkit-transform: transform(-0.5%, -0.5%) scale(0.5);*/
}

body.twopage > div:nth-child(odd) {
  background-color: blue !important;
  clear: left;
}

body.twopage > div:nth-child(even) {
  background-color: green !important;
}

.strike {
	text-line-through-mode: skip-white-space;
	text-line-through-style: wave;
	text-line-through-width: normal;
	text-decoration: line-through;
	text-decoration-line: wave;
	-moz-text-line-through-mode: skip-white-space;
	-moz-text-line-through-style: wave;
	-moz-text-line-through-width: normal;
	-moz-text-decoration-line: wave;
/*	text-line-through-color: red;
	text-decoration-color: red;
	-moz-text-line-through-color: red;
	-moz-text-decoration-color: red;*/
}
.scratchout {
	background-image: url("/guis.common/images/scratchout.png");
}
.glow {
	text-shadow: 0px 0px 10px red;
}
.quote {
	box-shadow: 0px 0px 10px 5px;
}
.quote:hover::before {
	content: "\"";
	position: absolute;
	margin-left:-0.5em;
}
.quote:hover::after {
	content: "\"";
	position: absolute;
	margin-left:0;
}
.strike, .glow, .scratchout, .quote {
	background-color: none !important;
}
.audio::before {
	content: "";
	position: absolute;
	left: -10px;
	top: -10px;
	width: 20px;
	height: 20px;
	background-image: url("/guis.common/images/oxygen/16x16/actions/text-speak.png");
	/*background: blue;
	border-radius: 20px;*/
}

.audioobject {
	position: absolute;
	left: 0;
	background-image: url("/guis.common/images/oxygen/48x48/actions/media-playback-start.png");
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
/*	border: 3px double black;
	background: white;
	border-radius: 1em;*/
}
.audioobject.playing {
	background-image: url("/guis.common/images/oxygen/48x48/actions/media-playback-pause.png");
}

#highlightmenu {
	border: 1px solid black;
	width: auto;
	height: auto;
	position: absolute;
	top: -100px;
	left: -100px;
	background: white;
	white-space: nowrap;
}
#highlightmenu div.closegap {
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 5px;
}
#highlightmenu button#removeHighlighting {
	background-image: url("/guis.common/images/oxygen/16x16/actions/draw-eraser.png");
	background-repeat: no-repeat;
	color: transparent;
}
#highlightmenu button#addAudioComment {
	background-image: url("/guis.common/images/oxygen/16x16/devices/audio-input-microphone.png");
	background-repeat: no-repeat;
	background-position: center;
	color: transparent;
}
