/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.06.2014, 23:16:22
    Author     : Patrick
*/

.paperViewer {
  height: 100%;
}

.paperViewer .moveArea {
  height: 40px;
  background-color: purple;
}

.paperViewer #page-container {
  top: 40px !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.paperViewer #sidebar-paper {
  display: none;
}

.paperViewer .pd {
  margin: 0 !important;
}

/* IFRAME solution... */
.paperViewer iframe {
	 width: 100%;
	 height: 100%;
	 padding: 0;
	 border: 0;
}