/*
This css file is added to the header of the html document within the iframe.
  
Created on : 19.06.2014, 23:16:22
Author     : Patrick
*/

.highlighted.selected {
  background-color: #3399FF !important;
}

.strike, .glow, .scratchout, .quote {
  background: none !important;
}

.strike {
  text-line-through-mode: skip-white-space;
  text-line-through-style: wave;
  text-line-through-width: normal;
  text-decoration: line-through;
  text-decoration-line: wave;
  -moz-text-line-through-mode: skip-white-space;
  -moz-text-line-through-style: wave;
  -moz-text-line-through-width: normal;
  -moz-text-decoration-line: wave;
  /*	text-line-through-color: red;
    text-decoration-color: red;
    -moz-text-line-through-color: red;
    -moz-text-decoration-color: red;*/
}
.scratchout {
  background-image: url("/guis.common/images/scratchout.png") !important;
}
.glow {
  text-shadow: 0px 0px 10px red;
}
.quote {
  box-shadow: 0px 0px 10px 5px;
}
.quote:hover::before {
  content: "";
  position: absolute;
  margin-left:-0.5em;
}
.quote:hover::after {
  content: "";
  position: absolute;
  margin-left:0;
}
.audio:first-of-type::before {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  background-image: url("/guis.common/images/oxygen/16x16/actions/text-speak.png");
  /*background: blue;
  border-radius: 20px;*/
}

.audioobject {
  position: absolute;
  left: 0;
  background-image: url("/guis.common/images/oxygen/32x32/actions/media-playback-start.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  /*	border: 3px double black;
  background: white;
  border-radius: 1em;*/
}
.audioobject.playing {
  background-image: url("/guis.common/images/oxygen/32x32/actions/media-playback-pause.png");
}

.remotehover {
  box-shadow: 0 0 100px 50px red;
}

.comment {
  position: absolute;
  left: 3px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("/guis.common/images/oxygen/32x32/actions/view-pim-note-rotated1.png");
  background-position: top left;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  max-width: 400px;
}

.comment:hover {
  z-index: 2;
  background-image: url("/guis.common/images/oxygen/32x32/actions/view-pim-note-rotated2.png");
}

.comment p {
  display: none;
}

.comment.opened {
  border: 1px solid #F5C800;
  border-radius: 5px;
  background-color: #FFEB55;
  background-image: url("/guis.common/images/oxygen/32x32/actions/view-pim-note-rotated2.png");
  padding: 5px 7px;
  width: auto;
  height: auto;
  z-index: 2;
}

.comment.opened p {
  margin: 0px;
  padding: 3px 0;
  display: block;
}

.comment.opened p.commentHeader {
  font-weight: bold;
  margin-left: 40px;
  padding-bottom: 10px;
}

#page-container {
  background: none !important;
  background-color: white !important;
}

#page-container > div {
  margin: 0 !important;
}

.pf {
  float: left;
}
