/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.06.2014, 23:16:22
    Author     : Patrick
*/

.paperViewer {
  height: 100%;
  position: relative;
  border: 1px solid #9E9E9E;
  border-bottom-width: 10px;
}

.paperViewer .btn {
  margin: 3px;
  padding: 4px;
}

.paperViewer.fullscreen {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 11003;
  background-color: white;
}

.paperViewer .paperViewerHeader {
  background: -moz-linear-gradient(center top, #BEBEBE 0%, #9E9E9E 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3E3E3E), color-stop(1, #1E1E1E));
}

.paperViewerTitle {
  color: #3D3D3D;
  font-size: 12px;
}

.paperViewer .paperViewerHeader > div {
  height: 32px;
  display: inline-block;
  vertical-align: top;
}

.paperViewerHeader table {
  width: 100%;
}

.paperViewerHeader .buttonAreaLeft {
  white-space: nowrap;
}

.paperViewerHeader .buttonAreaRight {
  white-space: nowrap;
}

.paperViewerHeader .titleArea {
  width: 100%;
  padding: 0 12px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.titleArea .moveArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.titleArea .moveArea:hover {
  cursor: move;
}

.paperViewerFooter {
  position: fixed;
  bottom: 0;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #9E9E9E;
}

.paperViewer .moveOverlay {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: none;
}

.paperViewer #page-container {
  top: 40px !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.paperViewer #sidebar-paper {
  display: none;
}

/* IFRAME solution... */
.paperViewer iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  overflow-x: auto;
  overflow-y: scroll;
}