/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.06.2014, 23:16:22
    Author     : Patrick
*/

.paperViewer .moveArea {
  height: 20px;
  background-color: purple;
}

.paperViewer #sidebar {
  
}