#login_background {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 15000;
	background-color: #D7D8DB;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#F3F3F3), to(#D7D8DB));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-radial-gradient(circle, #F3F3F3, #D7D8DB);
	/* Firefox 3.6+ */ 
	background: -moz-radial-gradient(circle, #F3F3F3, #D7D8DB);
	/* IE 10 */ 
	background: -ms-radial-gradient(circle, #F3F3F3, #D7D8DB);
}

#login {
	width: 400px;
	height: 285px;
	background-color: #FFFFFF;
	border: 1px solid #C7C7C7;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -200px;
	z-index: 15001;
	border-radius: 10px;
}

#login input.login_input, #sign_up input.login_input {
	border: 1px solid #DFDFE1;
	background-color: #FFFFFF;
	padding: 5px;
	font-size: 12px;
	color: #888888;
	border-radius: 3px;
	width: 260px;
	margin-top: 20px;
	padding-left: 40px;
	margin-left: 20px;
}

#sign_up input.login_input {
	margin-top: 13px;
}

#login input.login_input:focus, #sign_up input.login_input:focus {
	border: 1px solid #3684DD;
	box-shadow: 0px 0px 3px #6CA5E7;
	-webkit-box-shadow: 0px 0px 3px #6CA5E7;
	-moz-box-shadow: #6CA5E7 0px 0px 3px;
	outline: 0;
	color: #262626;
}

#login div.login_title {
	font-size: 22px;
	color: #3684DD;
	margin-left: 45px;
	margin-top: 20px;
}
#login  div.login_title::before {
	content: "";
	width: 64px;
	height: 64px;
	background: url(/cow_64x64.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}

#login div.login_icon, #sign_up div.login_icon {
	position: relative;
	left: 54px;
	top: 21px;
	border-right: 1px solid #DFDFE1;
	width: 24px;
	height: 25px;
	background-repeat: no-repeat;
	float: left;
	background-position: 0px 3px;
}

#sign_up div.login_icon {
	top: 15px;
}

#login div.login_icon_username, #sign_up div.login_icon_username {
	background-image: url(../../guis.common/images/login_username.png);
}

#login div.login_icon_password, #sign_up div.login_icon_password {
	background-image: url(../../guis.common/images/login_password.png);
}

#sign_up div.sign_up_icon_email {
	background-image: url(../../guis.common/images/sign_up_email.png);
}

#login input.login_submit {
	border: 1px solid #2B5DA1;
	border-radius: 3px;
	background-color: #2863A5;
	background: -webkit-gradient(linear, left top, left bottom, from(#3C8EEC), to(#2863A5));
	background: -moz-linear-gradient(top, #3C8EEC, #2863A5);
	background: -o-linear-gradient(top, #3C8EEC, #2863A5);
	color: #FFFFFF;
	padding: 5px;
	text-shadow: #2B5DA1 1px 1px 1px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 282px;
	margin-top: 10px;
}

#login .login_error {
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #f2dede;
	border: 1px solid #eed3d7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #b94a48;
	margin-left: 20px;
	margin-right: 20px;
}

#sign_up {
	width: 400px;
	height: 295px;
	background-color: #FFFFFF;
	border: 1px solid #C7C7C7;
	position: absolute;
	top: 340px;
	left: 50%;
	margin-left: -200px;
	z-index: 15001;
	border-radius: 10px;
}

#sign_up div.sign_up_title {
	font-size: 22px;
	color: #3684DD;
	margin-left: 45px;
	margin-top: 30px;
	margin-bottom: 10px;
}

#sign_up input.sign_up_submit {
	border: 1px solid #2B5DA1;
	border-radius: 3px;
	background-color: #2863A5;
	background: -webkit-gradient(linear, left top, left bottom, from(#3C8EEC), to(#2863A5));
	background: -moz-linear-gradient(top, #3C8EEC, #2863A5);
	background: -o-linear-gradient(top, #3C8EEC, #2863A5);
	color: #FFFFFF;
	padding: 5px;
	text-shadow: #2B5DA1 1px 1px 1px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 223px;
	margin-top: 10px;
}

