      .header-tabs #tabs_content { height: 31px !important; }
      .header-tabs .ui-tabs-nav {  position: fixed; top: 71px; left: 0px; right: 0px; background: #DDE0E5; border: none; }
      .header-tabs .ui-tabs-nav li { border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
      .header-tabs li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; background: white !important; border-bottom: none;}
      #tabs_content {background: none !important; border: none;}